* {
    box-sizing: border-box;
}

body{
    margin: 50px;
    font-size: 17px;
}

p{
    color: #00f;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: left;
    text-transform: lowercase;
    /*word-spacing: 30px;*/
    line-height: 30px;
    text-shadow: 2px 2px 2px #FF0000;
}
a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}